/* SPA Landing page style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #deb887;
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header {
    width: 95%;
    height: 90vh;
    background-image: url(img/kitten.jpg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 250px;
    margin-bottom: 2vh;
    border-radius: 0px 0px 10px 10px;
}

section {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 10vh;
}

p {
    font-size: 20px;
    line-height: 1.5em;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #56b7e1;
}

h2 {
    color: #56b7e1;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h3 {
    color: #ef5713;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h4 {
    font-size: 28px;
    background-color: #56b7e1;
    color: white;
    line-height: 1.5;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

h5 {
    margin: 20px;
}

#stopAnimalObjet{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    background-color: rgba(255, 255, 255);
    height: 100px;
    width: 500px;
    border-radius: 10px;
}

#principal {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#principal>div {
    width: 40%;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#objet {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    background-color: #56b7e1;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    transition: all 1s;
    margin-bottom: 5vh;
    margin-top: 5vh;
    border: 4px solid #ef5713;
    box-shadow: -10px 10px 10px #a08561;
}

#firstDiv {
    border-bottom: 8px dashed #ef5713;
    border-top: 8px dashed #ef5713;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
    text-align: left;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#objet:hover {
    border-radius: 0%;
    background-color: white;
}

section>a {
    margin-left: auto;
    margin-right: auto;
}


#plupart {
    margin-left: auto;
    margin-right: 0;
    background-color: #ef5713;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
    box-shadow: -10px 10px 10px #a08561;
}

#basPage {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    line-height: 2em;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: -10px 10px 10px #a08561;
    padding-bottom: 50px;
}

input {
    width: 100%;
    background-color: gainsboro;
    line-height: 1.5em;
    margin-bottom: 20px;
    border-radius: 10px;
    color: black;
}

label {
    font-weight: bold;
}

#signez>p {
    margin-top: 20px;
    font-size: 16px;
}

#signez {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 16px;
    width: 20%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 30vh;
}

#logo {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #554734;
    transition: all 1s;
}

a:hover {
    color: #a08561; 
}

#submit {
    font-size: 24px;
    background-color: #ef5713;
    color: white;
    line-height: 1.5;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: all 1s;
}

#submit:hover {
    color: white;
    background-color: #c54a11;
}